<ion-header-bar>
  <button class="button button-clear" ng-click="returnHome()">
    <i class="icon ion-home"></i>
  </button>
  <h1 class="title">LOGO HERE</h1>
  <button class="button button-clear" ng-click="logout()">
    <i class="icon ion-android-exit"></i>
  </button>
</ion-header-bar>
<ion-content  class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
  <div class="list card">
    <h4 id='check-title'>Thank You!</h4>
    <p id='check-paragraph1' class='check-paragraphs'>
      The AlerG Team and the Gluten Free Community thanks you for contributing to the fastest growing database of Gluten Free Products!
    </p>
    <p class='check-paragraphs'>
    </p>
  </div>
  <button class="global-btn-font button button-block button-outline button-calm " ng-click="returnHome()">
    <span class='scan-button-text'>Scan More Barcodes!</span>
  </button>
</ion-content>
