<ion-header-bar>
  <h1 class="title">LOGO HERE</h1>
  <button class="button button-clear" ng-click="logout()">
    <i class="icon ion-android-exit"></i>
  </button>
</ion-header-bar>
<ion-content  class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
  <div class="list card">
      <div class="item item-avatar">
        <img class=scan-image src="{{productImage}}">
        <h2 class='scan-brand'>{{productBrand}}</h2>
        <p class='scan-name'>{{productName}}</p>
      </div>
  </div>

  <button class="button button-block button-outline button-calm " ng-click="reviewProduct(true)">
    <span class='scan-button-text'>Gluten Free</span>
  </button>

  <button class="button button-block button-outline button-calm " ng-click="reviewProduct(false)">
    <span class='scan-button-text'>Not Gluten Free</span>
  </button>

    <!-- <ul class='list'>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input ng-model='checkbox1' type="checkbox" ng-click='reviewProduct(true)'>
       </label>
       Gluten Free
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input ng-model='checkbox2' type="checkbox" ng-click='reviewProduct(false)'>
       </label>
       NOT Gluten Free
      </li>
    </ul> -->


  <p>
    Please check if this is gluten free!
  </p>
  <p>
    How do I do this?
  </p>
</ion-content>
