<ion-modal-view>
  <ion-modal-view>
     <ion-header-bar>
       <!-- <h1 class="title">FAQ</h1> -->
       <button class="button button-clear" ng-click="faq.hide()"><span class="icon ion-close"></span></button>
     </ion-header-bar>
     <ion-content>
       <h2 id='faq-header'>F.A.Q.</h2>

       <div id="faq-question-wrapper">

         <div class="faq-question-container">
           <h4 class='faq-questions'>What is AlerG?</h4>
           <p class='faq-answer'>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           </p>
         </div>

         <div class="faq-question-container">
           <h4 class='faq-questions'>How are food products certified?</h4>
           <p class='faq-answer'>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           </p>
         </div>

         <div class="faq-question-container">
           <h4 class='faq-questions'>How do I know if a product is Gluten Free?</h4>
           <p class='faq-answer'>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           </p>
         </div>

         <div class="faq-question-container">
           <h4 class='faq-questions'>What if I submit a product wrong?</h4>
           <p class='faq-answer'>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           </p>
         </div>

       </div>
     </ion-content>
   </ion-modal-view>
</ion-modal-view>
