<ion-header-bar class="">
  <h1 class="title">AlerG</h1>
  <button class="button button-clear" ng-click="logout()">
    <i class="icon ion-android-exit"></i>
  </button>
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()" id='home-wrapper'>

  <div id='window-wrapper' class="row">
    <div class="col window-image-container">
      <img class='window-images' src="img/home/help.svg" alt="" />
      <h5 class='window-titles'>FAQ</h5>
    </div>
    <div class="col window-image-container" ng-click='goToFavorites()'>
      <img class='window-images' src="img/home/archive.svg" alt="" />
      <h5 class='window-titles'>SAVED</h5>
    </div>
  </div>
  <div class="row">
    <div class="col window-image-container" ng-click='testingScan()'>
      <img class='window-images' src="img/home/important.svg" alt="" />
      <h5 class='window-titles'>T&C</h5>
    </div>
    <div class="col window-image-container" ng-click='barcodeScan()'>
      <img class='window-images' src="img/home/product.svg" alt="" />
      <h5 class='window-titles'>SCAN</h5>
    </div>
  </div>
</ion-content>
