<ion-modal-view>
  <ion-modal-view>
     <ion-header-bar>
       <!-- <h1 class="title">FAQ</h1> -->
       <button class="button button-clear" ng-click="how.hide()"><span class="icon ion-close"></span></button>
     </ion-header-bar>
     <ion-content>
       <h2 id='tc-header'>Where to look?</h2>

       <div id="tc-wrapper">

         <div class="tc-container">
           <h4 class='tc-statement'>Step 1:</h4>
           <p class='tc-text'>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           </p>
         </div>

       </div>
     </ion-content>
   </ion-modal-view>
</ion-modal-view>
