/*
Header-color: #b2b2b2
Semi-Bold: #797979
Global-white: #fff
Global-blue: #11c1f3
Global-false: #e94949
Global-true: #42d176
Twitter: #1dcaff
Facebook: #3B5998
Large Font Header: 26px


*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/*Global Style*/

.title{
  color: #b2b2b2;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.global-btn-font{
  color: #11c1f3;
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  text-transform: uppercase;
}


/* Signin and Signup*/

.signin-up-image{
  text-align: center;
}

.scan-images{
  height:200px;
  margin: 0 auto;

}

.tab-nav.tabs {
  background: #fff;
}

label.item.item-input.item-floating-label.signin-up {
  border: none;
  border-bottom: 1px solid #b2b2b2;
}

span.input-label.has-input{
  color:#11c1f3;
}

input.ng-valid.ng-dirty.ng-valid-parse.ng-touched,
input.ng-pristine.ng-untouched.ng-valid {
  color: Black;
}

span.tab-title.ng-binding {
  font-size: 14px;
  color: #b2b2b2;
  padding-bottom: 5px;
  border-bottom:1px solid #b2b2b2;
}

.tab-item.tab-item-active span{
  border-bottom: 1px solid #11c1f3;
}

#terms-cond{
  display: block;
  margin: 0 auto;
}


/* Homepage */

#home-wrapper{
  background: #11c1f3;
}

#window-wrapper{
  margin-top: 25%;
}

.window-image-container{
  text-align: center;
  background: #11c1f3;
}

.window-titles{
  color: #fff;
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
}

.window-images{
  width: 30vw;
  padding: 0;
  margin: 0 auto;
}
.scan-button-ion{
  font-size: 30px;
  margin-top: 10px;
}
.scan-button-text{
  font-size:24px;
}

/*#main-scan-btn{
    margin-top: 70px;
}

#scan-fa{
  top: 15px;
  left: 150px;
}

#database-fa{
  top: 15px;
  left: 160px;
}

#bookmark-fa{
  top: 15px;
  left: 150px;
}*/

/*p.card-p{
  color: white;
  text-transform: uppercase;
}*/
/*
.card-images{
  width: 50px;
}*/

/*.item.item-image{
  padding: 20px 0px;
  position: relative;
}*/

.scan-sign{
  position:absolute;
  width:100px;
  top:20px;;
  left:22%;
}

/*.social-share,
.save-button{
  display: block;
  margin: 0 auto;
  background: #fff;
  border: none;
}

.ion-social-twitter,
.ion-social-facebook{
  display: block;
  text-align:center;
  font-size: 30px
}*/



/*.tab-item.tab-item-active i{
  color:#8c8c8c;
}*/

/* Review Page*/

#check-title{
  color: #8c8c8c;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.2em;
  text-align: center;
}

.check-paragraphs{
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

#check-paragraph1{
  text-align:center;
}
.check-steps{
  color: #e94949;
}

/*Match Page*/

#match-list-card{
  /*border: 1px solid #8c8c8c;*/
  box-shadow: none;
}

.item-image img:first-child, .item-image .list-img {
  width: 50%;
  vertical-align: middle;
  padding: 20px 0;
}

#large-product-image{
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
}

#match-product-brand{
  text-align:center;
  color: #8c8c8c;
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
}

#match-product-name{
  text-align:center;
  color: #8c8c8c;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
}

.item p.scan-sign-text-false{
  color:#e94949;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
}

.item p.scan-sign-text-true{
  color:#42d176;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
}

.social-share,
.save-button{
  display: block;
  margin: 0 auto;
  background: #fff;
  border: none;
}

.ion-social-twitter,
.ion-social-facebook{
  display: block;
  text-align:center;
  font-size: 30px
}


#social-save-row{
  border: none;
}

#save-product-btn{
  color: #8c8c8c;
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
}

#twitter-wrapper{
  background:#1dcaff;
}

.ion-social-twitter{
  color: #fff;
}

#facebook-wrapper{
  background:#3B5998;
}

.ion-social-facebook{
  color: #fff;
}

/* Review Page*/

#review-header{
  color: #e94949;
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.2em;
  transform: uppercase;
  text-align:center;
  margin-top: 10%;
}

.review-message{
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
  text-align:center;
  margin-top: 10%;
}

#brand-name-review{
  color: #e94949;
}

/* Display Results Page */

.results-wrapper{
  border: none;
  box-shadow: none;
}

.results-a-container{
  border-bottom: 1px solid #c1c1c1;
}

.results-name,
.results-upc,
.results-gf{
  text-align:left;

}

.results-brand{
  text-align:left;
  color: #797979;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  text-transform: uppercase;
}

.results-name{
  text-align:left;
  color: #8c8c8c !important;
  font-size: 10px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  text-transform: uppercase;
}

.results-th-img{
  width: 2em;
}

.scan-brand,
.scan-name{
  text-align: left;
}

.scan-sign{
  width: 200px;
}

#no-gf{
  color:#e94949;
}

#yes-gf{
  color: #42d176;
}

/*Check Page*/

#check-header{
  color: #e94949;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.2em;
  transform: uppercase;
  text-align:center;
  margin: 5% 0 5% 0;
}

.check-intro{
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  margin-left: 5%;
}

.check-step-img{
  width:3em;
}

.check-step-text{
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
}

#check-instructions{
  text-decoration: underline;
}

#span-green{
  color:#42d176;
}

#span-red{
  color: #e94949;
}

#yes-no-wrapper{
  margin-top:5%;
}

.yes-img-container{
  background: #42d176;
}

.yes-no-titles{
  display: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;

}

.no-img-container{
  background: #e94949;
}

.yes-no-img{
  margin: 0 auto;
  display: inherit;
  width:50px;
  padding: 1.5em 0;
}

/* FAQ Page*/

#faq-header,
#tc-header{
  color: #8c8c8c;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.2em;
  transform: uppercase;
  text-align:center;
  margin: 5% 0 10% 0;

}

.faq-question-container{
  border-bottom: 1px solid #c4c4c4;
  margin-bottom:7%;
}

.faq-questions,
.tc-statement{
  color: #e94949;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  transform: uppercase;
  margin-left: 5%;
}

.faq-answer,
.tc-text{
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
  margin-left: 5%;
}
