/* Empty. Add your own CSS if you like */
.margin {
  margin-left: 9px;
  margin-right: 9px;
}
.icon-actions {
  font-size: 23px;
}
.checkbox {
  vertical-align: middle;
}
.actions {
  float: right;
}
.item-text-wrap {
  overflow: auto;
}
.ion-checkmark-circled.icon-actions.margin{
  margin-right: 35px;
}


/* login and signup*/

.login-up-logo{
  margin: 30px auto 0 auto;
  }

.tab-nav.tabs {
  background: white
}

label.item.item-input.item-floating-label.signin-up {
  border: none;
  border-bottom: 1px solid #b3b3b3;
}

i.icon.ion-lock-combination,
i.icon.ion-person-add,
span.tab-title.ng-binding{
  color: black;
}
.form-signin-up{
  margin-top: 5%;
}

span.input-label.has-input{
  color:#11c1f3;
}

input.ng-valid.ng-dirty.ng-valid-parse.ng-touched,
input.ng-pristine.ng-untouched.ng-valid {
  color: Black;
}

span.tab-title.ng-binding {
  font-size: 14px;
  color: #b3b3b3;
  padding-bottom: 5px;
  border-bottom:1px solid #b3b3b3;
}

.tab-item.tab-item-active span{
  border-bottom: 1px solid #11c1f3;
}


/* Homepage */
.scan-button-ion{
  font-size: 30px;
  margin-top: 10px;s
}
.scan-button-text{
  font-size:24px;
}

.card{
  box-shadow: none;
}

.item.item-image{
  padding: 20px 0px;
  position: relative;
}

.scan-sign{
  position:absolute;
  width:100px;
  top:20px;;
  left:22%;
}

.item p.scan-sign-text-false{
  color:#e94949;
}

.item p.scan-sign-text-true{
  color:#42d176;
}

.social-share,
.save-button{
  display: block;
  margin: 0 auto;
  background: #fff;
  border: none;
}

.ion-social-twitter,
.ion-social-facebook,
.ion-social-instagram,
.ion-code-download{
  display: block;
  text-align:center;
  font-size: 30px
}

.item-image img:first-child, .item-image .list-img {
  width: 50%;
  vertical-align: middle;
  padding: 20px 0;
}


/* Display Results Page */

.results-name,
.results-upc,
.results-gf{
  text-align:left;
  font-family: "MoonLight";
}

.results-brand{
  text-align:left;
  font-family: "MoonBold";
}

.scan-brand,
.scan-name{
  text-align: left;
}

.scan-sign{
  width: 200px;
}
